---
import landing_links from "../../../../data/tiers/web/landing_links";
import ServiceLayout from "../../../../layouts/ServiceLayout.astro";
---

<ServiceLayout
    title="Landing Page Tier III"

    tier={3}
    links={landing_links}
>
    <div>TIER 3</div>
</ServiceLayout>