---
import { Image } from "astro:assets";
import landing_links from "../../../../data/tiers/web/landing_links";
import ServiceLayout from "../../../../layouts/ServiceLayout.astro";

import example_hero from "../../../../assets/images/examples/example_hero.webp";
import example_cutout from "../../../../assets/images/examples/example_cutout.webp";
import example_review_1 from "../../../../assets/images/examples/example_review_1.webp";
import example_review_2 from "../../../../assets/images/examples/example_review_2.webp";
---

<ServiceLayout
    title="Landing Page Tier I"
    additional_links={[
        { rel: "stylesheet", href: "https://fonts.googleapis.com/icon?family=Material+Icons" }
    ]}

    tier={1}
    links={landing_links}
>
    <!-- * Navigation Bar * -->
    <nav>
        
    </nav>

    <!-- * Hero Section * -->
    <div
        class="h-[70vh] bg-cover bg-top text-white"
        style={`background-image: url('${example_hero.src}');`}
    >
        <div>
            <h1>Lorenzo's Digital Pizzeria</h1>
            <h2>Pizza Done Right</h2>
        </div>
    </div>
     
    <!-- * Introduction * -->
    <div class="mt-8 mx-8 sm:mx-16 flex items-center justify-around flex-col md:flex-row gap-8">
        <Image
            src={example_cutout}
            alt="Example-Owner-Cutout"
            class="w-full md:w-[50vw] max-w-150 mask-b-from-90%"
            widths={[640, 360]}
            format="webp"
            quality={80}
            loading="eager"
        />

        <div class="w-full md:w-[50vw] max-w-150">
            <h2 class="text-4xl mb-4">Welcome!</h2>
            <p class="text-lg">
                My name is Lorenzo, owner and operator of Lorenzo's Digital Pizzeria! Since as far back as I can remember, I've always loved the art of creating the perfect pizza. As a child I'd help my grandfather every morning to prepare dough for our community's pizzeria. The smiles shown on every satisfied customer's face taught me the importance of sharing a good meal. That's why I opened the world's first fully digital pizzeria, so I can share my grandfather's beloved recipe with the world!
            </p>
        </div>
    </div>

    <!-- * Scrolling Decoration * -->
    <div class="mt-8">
        
    </div>

    <!-- * Reviews * -->
    <div class="mt-8 mx-8 sm:mx-16">
        
    </div>

    <!-- * Contact Form * -->
    <div class="mt-8">

    </div>

    <!-- * Footer * -->
    <footer class="mt-8 pb-8 bg-black text-yellow-100 flex justify-around">
        <div>

        </div>

        <div>
            <h3>HOURS</h3>
            <table>
                <tbody>
                    <tr>
                        <td>Monday&nbsp;-&nbsp;Friday:&nbsp;</td>
                        <td>10am&nbsp;-&nbsp;10pm</td>
                    </tr>
                    <tr>
                        <td>Saturday:&nbsp;</td>
                        <td>10am&nbsp;-&nbsp;1pm</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </footer>
</ServiceLayout>