---
import landing_links from "../../../../data/tiers/landing_links";
import ServiceLayout from "../../../../layouts/ServiceLayout.astro";
---

<ServiceLayout
    title="Landing Page Tier I"

    tier={1}
    links={landing_links}
>
    <div>TIER 1</div>
</ServiceLayout>