---
import landing_links from "../../../../data/tiers/web/landing_links";
import ServiceLayout from "../../../../layouts/ServiceLayout.astro";
---

<ServiceLayout
    title="Landing Page Tier II"

    tier={2}
    links={landing_links}
>
    <div>TIER 2</div>
</ServiceLayout>