---
import blog_links from "../../../../data/tiers/blog_links";
import ServiceLayout from "../../../../layouts/ServiceLayout.astro";
---

<ServiceLayout
    title="Personal Blog Tier I"

    tier={1}
    links={blog_links}
>
    <div>TIER 1</div>
</ServiceLayout>