---
import blog_links from "../../../../data/tiers/web/blog_links";
import ServiceLayout from "../../../../layouts/ServiceLayout.astro";
---

<ServiceLayout
    title="Personal Blog Tier III"

    tier={3}
    links={blog_links}
>
    <div>TIER 3</div>
</ServiceLayout>