---
import ServiceLayout from "../../../../layouts/ServiceLayout.astro";
import browser_links from "../../../../data/tiers/game/browser_links";
---

<ServiceLayout
    title="Browser Game Tier I"

    tier={1}
    links={browser_links}
>
    <div>TIER 1</div>
</ServiceLayout>