---
import resume_tiers from "../../../../data/tiers/resume_tiers";
import ServiceLayout from "../../../../layouts/ServiceLayout.astro";
---

<ServiceLayout
    title="Portfolio and Resume"
    tiers={resume_tiers}
>
    <div>TIER 3</div>
</ServiceLayout>