---
import resume_links from "../../../../data/tiers/web/resume_links";
import ServiceLayout from "../../../../layouts/ServiceLayout.astro";
---

<ServiceLayout
    title="Portfolio and Resume Tier II"

    tier={2}
    links={resume_links}
>
    <div>TIER 2</div>
</ServiceLayout>