---
import resume_links from "../../../../data/tiers/resume_links";
import ServiceLayout from "../../../../layouts/ServiceLayout.astro";
---

<ServiceLayout
    title="Portfolio and Resume Tier III"

    tier={3}
    links={resume_links}
>
    <div>TIER 3</div>
</ServiceLayout>