.carousel-scroll-pane {
    overflow-x: scroll;
    max-width: 100vw;

    padding-inline: 8rem;

    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.carousel-scroll-pane::-webkit-scrollbar {
    display: none;
}

.carousel-content-rail {
    width: max-content;

    display: flex;
    align-items: stretch;
    gap: 4rem;
}

.carousel-content-rail > * {
    scroll-snap-align: center;
}

.carousel-scroll-dot-container {
    display: flex;
    gap: 1rem;

    width: fit-content;

    margin: 4rem auto 0 auto;
}

.carousel-scroll-dot-container > * {
    width: 1rem;
    height: 1rem;

    background-color: var(--color-text);
    border-radius: 50%;

    cursor: pointer;
    transition: background-color 150ms ease-in-out 0s;
}

.carousel-scroll-dot-container > *:hover {
    background-color: var(--color-text-bright);
}