.nav-bar {
    display: flex;
    justify-content: space-between;

    padding: 1.5rem 2.5rem 1rem 2.5rem;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 50;

    background-color: var(--color-bg);
}

.nav-logo-container {
    display: flex;
    align-items: center;
    gap: 2rem;

    text-decoration: none;
}

.nav-bar-logo {
    width: 4rem;
    height: 4rem;
}

.nav-link-list {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-link {
    text-decoration: none;
}

.nav-link:hover {
    color: var(--color-primary);
    transition: color 150ms ease-in-out 0s;
}

.nav-hamburger-button {
    display: none;
}

.nav-hamburger-menu {
    display: none;
}

@media (max-width: 30rem) {
    .nav-bar-title-container {
        display: none;
    }
}

@media (max-width: 48rem) {
    .nav-link-list {
        display: none;
    }

    .nav-hamburger-menu {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        background-color: var(--color-bg);

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 49;
        width: fit-content;
        height: 100vh;

        padding: 8rem 8rem 2rem 1rem;

        transition: right 300ms ease-in-out 0s;
    }

    .nav-hamburger-button {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        z-index: 50;
        height: fit-content;

        margin-top: auto;
        margin-bottom: auto;

        background-color: transparent;
        border: none;

        cursor: pointer;
    }

    .nav-hamburger-button:hover .nav-hamburger-bar {
        background-color: var(--color-primary);
    }

    .nav-hamburger-bar {
        width: 2rem;
        height: 0.25rem;

        border-radius: 0.125rem;
        background-color: var(--color-text-bright);

        transition: background-color 150ms ease-in-out 0s, transform 150ms ease-in-out 0s;
    }
}