.work-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    width: calc(100vw - 8rem);
    max-width: 80vw;
    overflow: hidden;
}

.work-card-preview-image {
    position: relative;
    background: var(--work-card-image) center/cover no-repeat;
}

.work-card-preview-image::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, transparent 65%, var(--color-bg-light) 100%);
    pointer-events: none;
}

.work-card-content-container {
    padding: 2.5rem 2rem;
}

.work-card-tag-container {
    display: flex;
    flex-wrap: wrap;

    margin-top: 0.5rem;
}

.work-card-tag {
    width: fit-content;

    padding: 0.0625rem 0.5rem;
    margin: 0.125rem 0.25rem;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    color: var(--work-card-tag-color);
    border: 0.0625rem solid var(--work-card-tag-color);
    border-radius: 0.25rem;
}

.work-card-tag-icon {
    width: 0.75rem;
    height: 0.75rem;
}

.work-card-description {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

@media (max-width: 40rem) {
    .work-card-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

        width: calc(100vw - 4rem);
    }

    .work-card-preview-image::after {
        background: linear-gradient(to bottom, transparent 65%, var(--color-bg-light) 100%);
    }
}