.service-card {
    position: relative;
    overflow: hidden;
    flex: 0 1 min-content;
    min-width: 16.5rem;

    border-style: solid;
    border-width: 0.1rem;
    border-radius: 1rem;
    border-color: transparent;
    background-color: var(--color-bg-light);
    box-shadow: inset 0 -0.25rem 0.5rem 0 #00000040, inset 0 0.25rem 0.5rem 0 #ffffff40;

    padding: 2.5rem 1.25rem 2rem 1.25rem;

    transition: border-color 150ms ease-in-out 0s;
}

.service-card:hover {
    border-color: var(--card-color-dark);
}

@media (max-width: 40rem) {
    .service-card {
        min-width: 0;
        flex-grow: 1;
    }
}

.service-card-bubble {
    position: absolute;
    top: -10rem;
    right: -100%;

    width: 200%;
    height: 16rem;

    background: radial-gradient(
        var(--card-color-dark) 45%,
        var(--card-color-bright) 60%,
        transparent 75%
    );
    filter: blur(2rem);
}

.service-card-content-container {
    position: relative;
    z-index: 1;
}

.service-card-title {
    display: block;
    margin-bottom: 2rem;
}

.service-card-divider {
    border: none;
    border-bottom: #363636 solid 0.125rem;

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.service-card-icon-container {
    display: flex;
    gap: 0.5rem;

    margin-bottom: 0.75rem;
}

.service-card-icon {
    width: 1rem;
    height: 1rem;
}

.service-card-order-button {
    margin: 1.25rem auto 0 auto;
}