---
import NavLayout from "../layouts/NavLayout.astro";
import type { Languages } from "../../config/language_config";

interface Props {
    language: Languages
};
---

<NavLayout language={Astro.props.language}>
    <h1>GAMES</h1>
</NavLayout>