---
import { socialLinks } from "../../globals.ts";
---

<footer class="mt-8 pt-6 w-full bg-[#212121] flex flex-col items-center justify-center">
    <h3 class="text-xl font-bold pb-4">- Contact Me -</h3>
    <div class="flex gap-4">
        {socialLinks.map((value) => (
            <a href={value.url} target="_blank">
                <img
                    src={`/icons/${value.icon}`}
                    alt={value.name}
                    class="w-8 h-8 hover:scale-110 transition-transform duration-300 ease-in-out invert"
                />
            </a>
        ))}
    </div>
    <div class="mt-8 h-6 w-full bg-[#0dee4d] text-center text-black">Hosted Via Github Pages</div>
</footer>