---
const { href, addClass } = Astro.props;

const pageStyles = href === Astro.url.pathname
    ? 'text-[#0dee4d] font-bold'
    : 'text-white';
---

<a
    href={href} 
    class=`
    ${addClass}
    ${pageStyles}
    text-shadow-md/100
    hover:text-[#0dff92]
    hover:text-shadow-lg/100
    transition-colors
    duration-300
    ease-in-out`
>
    <slot />
</a>