---
import store_links from "../../../../data/tiers/web/store_links";
import ServiceLayout from "../../../../layouts/ServiceLayout.astro";
---

<ServiceLayout
    title="Storefront Tier I"

    tier={1}
    links={store_links}
>
    <div>TIER 1</div>
</ServiceLayout>