---
import store_links from "../../../../data/tiers/store_links";
import ServiceLayout from "../../../../layouts/ServiceLayout.astro";
---

<ServiceLayout
    title="Storefront Tier II"

    tier={2}
    links={store_links}
>
    <div>TIER 2</div>
</ServiceLayout>