---
import three_links from "../../../../data/tiers/web/three_links";
import ServiceLayout from "../../../../layouts/ServiceLayout.astro";
---

<ServiceLayout
    title="ThreeJS Tier I"

    tier={1}
    links={three_links}
>
    <div>TIER 1</div>
</ServiceLayout>