---
import three_links from "../../../../data/tiers/three_links";
import ServiceLayout from "../../../../layouts/ServiceLayout.astro";
---

<ServiceLayout
    title="ThreeJS Tier II"

    tier={2}
    links={three_links}
>
    <div>TIER 2</div>
</ServiceLayout>