---
import three_links from "../../../../data/tiers/web/three_links";
import ServiceLayout from "../../../../layouts/ServiceLayout.astro";
---

<ServiceLayout
    title="ThreeJS Tier II"
    class="w-screen h-screen overflow-hidden bg-black"
    additional_links={[
        { rel: "stylesheet", href: "https://fonts.googleapis.com/icon?family=Material+Icons" }
    ]}

    tier={2}
    links={three_links}
>
    <orb-panel class="relative">
        <div
            id="orb-settings-container"
            class="absolute left-1/2 -translate-x-1/2 bottom-16 pb-4 w-[95vw] text-white bg-gray-900/50 border-gray-600 border-1 rounded-lg flex gap-8 flex-wrap max-h-[30vh] overflow-y-auto transition duration-300"
        >
            <button
                class="sticky w-full h-10 bg-zinc-700 hover:bg-zinc-600 cursor-pointer top-0 left-0 z-99 shadow-lg/50 text-zinc-500"
                id="menu-toggle-button"
            >
                <i class="material-icons" style="vertical-align: middle;">
                    keyboard_arrow_down&nbsp;keyboard_arrow_down&nbsp;keyboard_arrow_down
                </i>
            </button>

            <div id="scale-panel" class="px-8">
                <h1 class="text-lg sm:text-xl md:text-2xl mb-2">Scale</h1>
                <input
                    type="range" 
                    id="scale-slider"
                    class="w-64"
                    step={0.05}
                    min={0.5}
                    max={1.5}
                />
            </div>

            <div id="geometry-panel" class="px-8">
                <h1 class="text-lg sm:text-xl md:text-2xl mb-4">Geometry</h1>
                <div id="geometry-list" class="flex gap-4 flex-wrap" />
            </div>

            <div id="materials-panel" class="px-8">
                <h1 class="text-lg sm:text-xl md:text-2xl mb-4">Material</h1>
                <div id="materials-list" class="flex gap-4 flex-wrap" />
            </div>
        </div>

        <button
            class="absolute top-4 right-4 text-gray-300 hover:text-white rounded-lg border-2 cursor-pointer p-2 bg-black"
            id="orb-home-button"
        >
            <i class="material-icons" style="font-size: 32px; vertical-align: middle;">home</i>
        </button>
    </orb-panel>
</ServiceLayout>

<script>
    import * as THREE from "three";
    import { OrbitControls } from 'three/examples/jsm/controls/OrbitControls.js';

    import brick_icon from "../../../../assets/images/examples/materials/brick/icon.webp";
    import brick_color from "../../../../assets/images/examples/materials/brick/color.jpg";
    import brick_normal from "../../../../assets/images/examples/materials/brick/normal.jpg";

    import earth_icon from "../../../../assets/images/examples/materials/earth/icon.webp";
    import earth_color from "../../../../assets/images/examples/materials/earth/color.jpg";
    import earth_normal from "../../../../assets/images/examples/materials/earth/normal.jpg";

    import grass_icon from "../../../../assets/images/examples/materials/grass/icon.webp";
    import grass_color from "../../../../assets/images/examples/materials/grass/color.jpg";
    import grass_normal from "../../../../assets/images/examples/materials/grass/normal.jpg";

    import rock_icon from "../../../../assets/images/examples/materials/rock/icon.webp";
    import rock_color from "../../../../assets/images/examples/materials/rock/color.jpg";
    import rock_normal from "../../../../assets/images/examples/materials/rock/normal.jpg";

    import tile_icon from "../../../../assets/images/examples/materials/tile/icon.webp";
    import tile_color from "../../../../assets/images/examples/materials/tile/color.jpg";
    import tile_normal from "../../../../assets/images/examples/materials/tile/normal.jpg";

    import box_icon from "../../../../assets/icons/geometry/box.svg";
    import circle_icon from "../../../../assets/icons/geometry/circle.svg";
    import ring_icon from "../../../../assets/icons/geometry/ring.svg";
    import triangle_icon from "../../../../assets/icons/geometry/triangle.svg";

    function degToRad(degree: number): number {
        return degree * Math.PI * 0.00555555555555555555555555555556;
    }

    function findElement(parent: Element, id: string): Element | null {
        for (let idx: number = 0; idx < parent.children.length; ++idx) {
            const cur_elem: Element | null = parent.children.item(idx);

            if (cur_elem === null) {
                continue;
            }

            if (cur_elem.id === id) {
                return cur_elem;
            }
        }

        return null;
    }

    function createButton(image: string, on_click: (btn: HTMLButtonElement) => void): HTMLButtonElement {
        const button: HTMLButtonElement = document.createElement("button");

        button.style.backgroundImage = `url('${image}')`;

        button.classList.add(
            "size-15",
            "border-2",
            "rounded-lg",
            "bg-black/75",
            "bg-blend-multiply",
            "bg-center",
            "bg-cover",
            "cursor-pointer",
            "hover:bg-transparent",
            "transition-background",
            "duration-150"
        );

        button.addEventListener("click", () => on_click(button));

        return button;
    }

    class OrbPanel extends HTMLElement {
        private render_width: number = 0;
        private render_height: number = 0;

        private scene: THREE.Scene = new THREE.Scene();
        private camera: THREE.PerspectiveCamera = new THREE.PerspectiveCamera(70.0, 1, 0.1, 30);
        private renderer: THREE.WebGLRenderer = new THREE.WebGLRenderer({ antialias: true });

        private last_geometry_btn: HTMLButtonElement | null = null;
        private last_material_btn: HTMLButtonElement | null = null;

        private mesh: THREE.Mesh = new THREE.Mesh();

        private spot_radius: number = 3.0;
        private spot_light: THREE.SpotLight = new THREE.SpotLight(0xffffff, 2.5, 10, degToRad(30.0), 0.5, 2);

        private shapes: THREE.BufferGeometry<
            THREE.NormalBufferAttributes,
            THREE.BufferGeometryEventMap
        >[] = [
            new THREE.SphereGeometry(0.5),
            new THREE.BoxGeometry(1.0, 1.0, 1.0),
            new THREE.TorusGeometry(0.4, 0.2),
            new THREE.ConeGeometry(0.5, 1),
        ];

        private materials: THREE.MeshStandardMaterial[];

        private last_time: number = Date.now();
        private orbit_control: OrbitControls;

        constructor() {
            super();

            this.camera.position.z = 5;

            const clear_color: THREE.Color = new THREE.Color(0, 0, 0);
            this.renderer.setClearColor(clear_color, 0);
            this.renderer.setPixelRatio(2);
            this.renderer.toneMapping = THREE.ACESFilmicToneMapping;
            this.renderer.toneMappingExposure = 5.0;

            const texture_loader: THREE.TextureLoader = new THREE.TextureLoader();

            this.materials = [
                new THREE.MeshStandardMaterial({
                    map: texture_loader.load(brick_color.src),
                    normalMap: texture_loader.load(brick_normal.src),
                    roughness: 0.3,
                    metalness: 0.1,
                }),
                new THREE.MeshStandardMaterial({
                    map: texture_loader.load(earth_color.src),
                    normalMap: texture_loader.load(earth_normal.src),
                    roughness: 1.0,
                    metalness: 0.0,
                }),
                new THREE.MeshStandardMaterial({
                    map: texture_loader.load(grass_color.src),
                    normalMap: texture_loader.load(grass_normal.src),
                    roughness: 0.75,
                    metalness: 0.1,
                }),
                new THREE.MeshStandardMaterial({
                    map: texture_loader.load(rock_color.src),
                    normalMap: texture_loader.load(rock_normal.src),
                    roughness: 0.3,
                    metalness: 0.1,
                }),
                new THREE.MeshStandardMaterial({
                    map: texture_loader.load(tile_color.src),
                    normalMap: texture_loader.load(tile_normal.src),
                    roughness: 0.4,
                    metalness: 0.1,
                }),
            ];

            this.materials.forEach((material) => {
                if (material.map !== null) {
                    material.map.colorSpace = THREE.SRGBColorSpace;
                }
                
                material.onBeforeCompile = (shader) => {
                    shader.fragmentShader = shader.fragmentShader.replace(
                        '#include <dithering_fragment>',
                        `#include <dithering_fragment>
                        float rim = 1.0 - max(dot(normalize(vNormal), normalize(vViewPosition)), 0.0);
                        vec3 rimColor = vec3(0.15, 0.15, 0.15);
                        gl_FragColor.rgb += rim * rimColor;`
                    );
                }
            });

            this.mesh.material = this.materials[0];
            this.mesh.geometry = this.shapes[0];
            this.scene.add(this.mesh);

            const plane: THREE.Mesh = new THREE.Mesh(
                new THREE.PlaneGeometry(),
                new THREE.MeshStandardMaterial()
            );
            plane.position.set(0.0, -1.0, 0.0);
            plane.scale.set(100.0, 100.0, 1.0);
            plane.rotateX(degToRad(-90.0));
            this.scene.add(plane);

            this.spot_light.position.set(0.0, this.spot_radius, 2.0);
            this.spot_light.target = this.mesh;
            this.scene.add(this.spot_light);

            const settings_panel: Element | null = findElement(this, "orb-settings-container");
            if (settings_panel !== null) {
                this.buildScaleSlider(settings_panel);
                this.buildGeometryList(settings_panel);
                this.buildMaterialsList(settings_panel);
            }
            this.buildHomeButton();
            this.appendChild(this.renderer.domElement);

            this.orbit_control = new OrbitControls(this.camera, this.renderer.domElement);
            this.orbit_control.enableDamping = true;
            this.orbit_control.maxPolarAngle = degToRad(90.0);
            this.orbit_control.minDistance = 2.0;
            this.orbit_control.maxDistance = 20.0

            this.onResize();
            this.render();

            window.addEventListener("resize", this.onResize.bind(this));
        }

        private buildHomeButton() {
            const home_button: Element | null = findElement(this, "orb-home-button");
            if (home_button === null) return;

            home_button.addEventListener("click", () => {
                this.camera.position.set(0, 0, 5);
            });
        }

        private buildScaleSlider(settings_panel: Element): void {
            const scale_panel: Element | null = findElement(settings_panel, "scale-panel");
            if (scale_panel === null) return;

            const scale_slider: HTMLInputElement | null = findElement(
                scale_panel,
                "scale-slider"
            ) as (HTMLInputElement | null);
            if (scale_slider === null) return;

            scale_slider.value = this.mesh.scale.x.toString();
            scale_slider.addEventListener("input", (ev: Event) => {
                const new_scale: number = Number((ev.target as HTMLInputElement).value);
                this.mesh.scale.set(new_scale, new_scale, new_scale);
            })
        }

        private buildGeometryList(settings_panel: Element): void {
            const geometry_panel: Element | null = findElement(settings_panel, "geometry-panel");
            if (geometry_panel === null) return;

            const geometry_list: Element | null = findElement(geometry_panel, "geometry-list");
            if (geometry_list === null) return;

            const build_click_callback = (index: number) => {
                return (btn: HTMLButtonElement) => {
                    if (this.last_geometry_btn === btn) {
                        return;
                    }

                    this.mesh.geometry = this.shapes[index];
                    this.last_geometry_btn?.classList.toggle("bg-black/75");
                    btn.classList.toggle("bg-black/75");
                    this.last_geometry_btn = btn;
                }
            }

            geometry_list.appendChild(createButton(circle_icon.src, build_click_callback(0))).click();
            geometry_list.appendChild(createButton(box_icon.src, build_click_callback(1)));
            geometry_list.appendChild(createButton(ring_icon.src, build_click_callback(2)));
            geometry_list.appendChild(createButton(triangle_icon.src, build_click_callback(3)));
        }

        private buildMaterialsList(settings_panel: Element): void {
            const materials_panel: Element | null = findElement(settings_panel, "materials-panel");
            if (materials_panel === null) return;

            const materials_list: Element | null = findElement(materials_panel, "materials-list");
            if (materials_list === null) return;

            const build_click_callback = (index: number) => {
                return (btn: HTMLButtonElement) => {
                    if (this.last_material_btn === btn) {
                        return;
                    }

                    this.mesh.material = this.materials[index];
                    this.last_material_btn?.classList.toggle("bg-black/75");
                    btn.classList.toggle("bg-black/75");
                    this.last_material_btn = btn;
                }
            }

            materials_list.appendChild(createButton(brick_icon.src, build_click_callback(0))).click();
            materials_list.appendChild(createButton(earth_icon.src, build_click_callback(1)));
            materials_list.appendChild(createButton(grass_icon.src, build_click_callback(2)));
            materials_list.appendChild(createButton(rock_icon.src, build_click_callback(3)));
            materials_list.appendChild(createButton(tile_icon.src, build_click_callback(4)));
        }

        private onResize(): void {
            this.render_width = window.innerWidth;
            this.render_height = window.innerHeight;

            this.renderer.setSize(this.render_width, this.render_height);

            this.camera.aspect = this.render_width / this.render_height;
            this.camera.updateProjectionMatrix();
        }

        private render(): void {
            const cur_time: number = Date.now();
            const delta_time: number = (cur_time - this.last_time) * 0.001;
            this.last_time = cur_time;

            this.orbit_control.update(delta_time);

            const cam_dir = new THREE.Vector3();
            this.camera.getWorldDirection(cam_dir);

            cam_dir.y = 0;
            cam_dir.normalize();

            this.spot_light.position.set(
                this.mesh.position.x - cam_dir.x * this.spot_radius,
                2.0,
                this.mesh.position.z - cam_dir.z * this.spot_radius
            )

            this.renderer.render(this.scene, this.camera);
            requestAnimationFrame(this.render.bind(this));
        }
    }

    customElements.define("orb-panel", OrbPanel);

    document.addEventListener("DOMContentLoaded", () => {
        const menu: HTMLElement | null = document.getElementById("orb-settings-container");
        const menu_button: HTMLElement | null = document.getElementById("menu-toggle-button");

        if (menu === null || menu_button === null) {
            return;
        }

        let is_menu_open: boolean = true;

        menu_button.addEventListener("click", () => {
            is_menu_open = !is_menu_open;
            menu.classList.toggle("translate-y-full");
            menu_button.classList.toggle("rotate-180");
        });
    })
</script>