---
import three_links from "../../../../data/tiers/web/three_links";
import ServiceLayout from "../../../../layouts/ServiceLayout.astro";
---

<ServiceLayout
    title="ThreeJS Tier III"

    tier={3}
    links={three_links}
>
    <div>TIER 3</div>
</ServiceLayout>