---
import ServiceLayout from "../../../../layouts/ServiceLayout.astro";
import desktop_links from "../../../../data/tiers/game/desktop_links";
---

<ServiceLayout
    title="Desktop Game Tier III"

    tier={3}
    links={desktop_links}
>
    <div>TIER 3</div>
</ServiceLayout>