---
import ServiceLayout from "../../../../layouts/ServiceLayout.astro";
import desktop_links from "../../../../data/tiers/game/desktop_links";
---

<ServiceLayout
    title="Desktop Game Tier I"

    tier={1}
    links={desktop_links}
>
    <div>TIER 1</div>
</ServiceLayout>