---
import RootLayout, { type RootLayoutProps } from "./RootLayout.astro";

interface Props extends RootLayoutProps {
    class?: string;
};

export type NavLayoutProps = Props;
---

<RootLayout title={Astro.props.title}>
    <main class={Astro.props.class}>
        <slot/>
    </main>
</RootLayout>