---
import RootLayout from "./RootLayout.astro";
import NavBar from "../components/navigation/NavBar.astro";
import PageFooter from "../components/navigation/PageFooter.astro";

const { title = '' } = Astro.props;
---

<RootLayout title={title}>
    <NavBar/>

    <main class="flex-grow">
        <slot/>
    </main>

    <PageFooter/>
</RootLayout>